@use './variables' as *;

@mixin btn_primary {
    padding: 10px;

    border: 1px red;
    border-radius: 5px;
    background-color: $primaryColor;
    color: white;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}