@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'roboto';
}

body {
    background-color: $primaryBg;
}

.container {
    max-width: 1400px;
    padding-inline: 10px;

    margin: 0 auto;
}